body{
    background: hsl(185, 75%, 39%);
    font-family: Kumbh Sans;
    margin: 0;
    padding: 0;
    height: 100vh;
}

p{
    margin: 0;
    padding: 0;
    text-align: center;
}

.contenedor{
    width: 100%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
}
.targeta{    
    height: 367px;
    width: 350px;
    border-radius: 12px;
}

.s1{
    height: 140px;    
}

.img{
    border-radius: 12px 12px 0 0;
}

.s2{
    height: 141px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.s3{
    height: 88px;
    border-radius: 0 0 12px 12px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.st{
    background: rgb(255, 255, 255);
}

.tg{
    font-size: 18px;  
}

.tm{
    font-size: 14px;
}

.tc{
    font-size: 10px;
    letter-spacing: 1.5px;
}

.tbold{
    font-weight: bold;
}

.tcb{
    color: hsl(229, 23%, 23%);
}

.tcg{
    color: hsl(227, 10%, 46%);
}

.box{
    flex-basis: 28%;
}

.marbox{
    margin-top: 25px;
    margin-bottom: 4px;   
}

.imgusr{
    border-radius: 50%;
    position: relative;
    left: calc(50% - 48px - 2px);
    top: -280px;
    border:
    4px solid white;
}

.img_top{
    position: absolute;
    top: -556px;
    left: calc(50vw - 978px - 30px);
    z-index: -1;
}

.img_bot{
    position: absolute;
    top: 333px;
    left: calc(50vw - 50px);
    z-index: -1;
}


